{% extends 'base.html' %}

{% block title %}COVID-19 Final Project{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/world_map.css" type="text/css">
{% endblock %}

{% block body %}
  <h1>Hello!</h1>
  <canvas id="canvas"></canvas>

  <div class="slidecontainer"> <!--Slider that allows user to go through dates.-->
    <input type="range" min="1" max="100" value="1" class="slider" id="myRange">
    <p>Value: <span id="demo"></span></p>
  </div>

  <script src="https://unpkg.com/chart.js@3"></script>
  <script src="https://unpkg.com/chartjs-chart-geo@3"></script>
  <script type="text/javascript" src="/static/world_map.js"></script>
{% endblock %}